<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>라인공인중개사무소 관리자</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/style.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
</head> 
<body>
    <div id="wrap">
        <!--header : s-->
        <div class="header">
            <h1 class="logo"><a href="#">라인공인중개사 관리자</a></h1>
            <div class="header_top">
                <p class="login_info"><span>이승구</span>님 반갑습니다.</p>
                <button type="button" class="btn_logout">로그아웃</button>
            </div>
        </div>
        <!--header : e-->
        
        <!--gnb : s-->
        <div id="gnb">
            <button type="button" class="gnb_toggle"></button>
            <div class="gnb_wrap">
                <ul>
                    <li><a href="#">입주권</a></li>
                    <li><a href="#">분양권</a></li>
                    <li class="on"><a href="#">아파트</a></li>
                    <li><a href="#">상가</a></li>
                    <li><a href="#">주택</a></li>
                    <li><a href="#">건물</a></li>
                    <li><a href="#">토지</a></li>
                    <li><a href="#">단지등록</a></li>
                    <li><a href="#">평형등록</a></li>
                    <li><a href="#">라인노트</a></li>
                    <li><a href="#">메인상담</a></li>
                    <li><a href="#">물건상담</a></li>
                </ul>
            </div>
        </div>
        <!--gnb : e-->
        
        <!--contents : s-->
        <div class="section">
            <div class="contents">
                <div class="cnt_top">
                    <p class="tit1">아파트 리스트</p>
                    <button type="button" class="btn_top btn1 btn_blue">등록</button>
                </div>
                <div class="table1">
                    <table>
                        <tr>
                            <th>매물번호</th>
                            <th>등록일</th>
                            <th>단지</th>
                            <th>평형</th>
                            <th>동/층</th>
                            <th>매매가</th>
                            <th>보증금</th>
                            <th>월세</th>
                            <th>대출금</th>
                            <th>초기필요자금</th>
                            <th>진행정보</th>
                            <th>변경일</th>
                            <th>표출유무</th>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                        <tr>
                            <td>1181180824145608</td>
                            <td>2018-08-24</td>
                            <td>개포시영 [래미안강남포레스트]</td>
                            <td>55</td>
                            <td>412/12</td>
                            <td>59,999,000</td>
                            <td>125,125</td>
                            <td>5,000</td>
                            <td>12,412</td>
                            <td>12,412</td>
                            <td>등록</td>
                            <td>2018-08-24</td>
                            <td>N</td>
                        </tr>
                    </table>
                </div>
                
                <ul class="paging">
                    <li class="paging_p p_first"><a href="#">처음으로</a></li>
                    <li class="paging_p p_prev"><a href="#">이전</a></li>
                    <li class="on"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="paging_p p_next"><a href="#">다음</a></li>
                    <li class="paging_p p_last"><a href="#">마지막</a></li>
                </ul>
            </div>
        </div>
        <!--contents : e-->
        
    </div>
</body>
</html>