<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>라인공인중개사무소 관리자</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/style.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
</head> 
<body>    
    <div id="wrap">
       
        <!--login : s-->
        <div class="login_wrap">
            <div class="login_box">
                <div class="login_tit">라인공인중개사 관리자 로그인</div>
                <dl>
                    <dt class="id">아이디</dt>
                    <dd><input type="text"></dd>
                </dl>
                <dl>
                    <dt class="pw">패스워드</dt>
                    <dd><input type="text"></dd>
                </dl>
                <button type="submit" class="login_btn btn1 btn_blue">로그인</button>
            </div>
        </div>
        <!--login : e-->
        
    </div>
</body>
</html>